#programInsights {

    .insightTitle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        h1{
            margin: 0;
        }

        img.insightIcon{
            margin: 10px;
        }
    }

    .insightContent{
        padding:10px;
        text-align: left;
        font-size: 1rem;
    }

}
.lensLegend {
  width: 100%;
  padding: 10px 10px 0;
  .legendScore {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    margin-left: 5px;
  }
}
.lensBlue { background-color: #73B5EF; }
.lensYellow { background-color: #FFCC3F; }
.lensGreen { background-color: #00FF00; }
.lensStatus {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
}
#scoreCardContainer{
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex:1;
    display:flex;
    h1.header{
        color: #2d69ae;
        font-size: 2rem;
        color: #5271fc;
        font-weight: 700;
    }
    .cardContainer{
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .scorecard{
        display: flex;
        width:70%;
        height:500px;
        align-items: center;
        justify-content: center;
        background-color: slategray;
        align-self: center;
        align-items: center;
        border-radius: 10px;
        h1{
            font-family: proxima-nova, sans-serif;
            font-weight: 900;
            font-style: normal;
            text-transform: uppercase;
            font-size: 32px;
            color: whitesmoke;
        }
    }
}

#portfolioScore {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 15px;
    overflow-y: auto;

    .row {
        display: flex;
        flex-direction: row;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex: 1;

        &.center {
            align-items: center;
        }
    }

    .programSelector {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;

        .label {
            margin: 0 10px;
        }

        .options {
            min-width: 175px;
            height: 30px;
            cursor: pointer;
        }
    }

    .governanceInput {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        align-items: center;

        .section {
            display: flex;
            flex-direction: row;
        }

        .block {
            display: flex;
            width: 150px;
            margin: 5px 10px;

            &.center {
                align-items: center;
                justify-content: center;
            }

            &.end {
                align-items: flex-end;
                justify-content: flex-end;
            }
        }

        .input {
            display: block;
            padding: 5px;
            width: 100%;
            text-align: center;
            font-size: 16px;
        }

        .submit {
            width: 100px;
            margin: 15px 0;
        }
    }

    .saved_scores {
        width: 100%;
        height: 200px;
        border: 1px solid slategray;
        border-radius: 4px;
    }

    .legend {
        .header {
            font-size: 14px;
        }

        .score {
            .text {
                font-size: 13px;
            }
        }
    }
}

#scorecard{
    h1.title{
        font-size: 1.25rem;
        margin-top: 0px;
        color: #E7ECF3;
        text-transform: uppercase;
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
    }
    h1.scorecard{
        font-size: 1.25rem;
        text-transform: uppercase;
        font-family: proxima-nova, sans-serif;
        font-weight: 500;
        text-align: left;
        border-bottom: 1px solid #09233E;
        padding: 20px;
    }
    .targetCell{
        background-color: #93B3D7;
    }

    .labelCell{
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #4E81BD;
        border-bottom: 0px;
    }

    .score{
        border-bottom: 0px;
    }

    .red {
        background-color: #FF0200;
    }

    .yellow {
        background-color: #FFFB00;
    }

    .green {
        background-color: #00FF00;
    }
    .basic {
        background-color: #93B3D7;
    }
    .neutral {
        background-color: #e8ecf4;
    }
    .compositeScore{
        font-size: 1rem;
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color:#09233E;
        margin-top: 20px;
        padding:15px;
    }
    .compositeResults{
        .labelCell{
            color: #144681;
            background-color: #E7ECF3;
        }

        .originCell{
            background-color: #FF0000;
        }

        .targetCell{
            background-color: #00B050;
        }

        .neutral {
            background-color: #e8ecf4;
        }
    }

    .legend{
        h1{
            font-family: proxima-nova, sans-serif;
            font-weight: 300;
            font-size: 1.25rem;
            padding: 10px;
            margin: 0px;
            text-align: center;
            color: #E7ECF3;
            border-bottom: thin solid #E7ECF3;
        }

        .indicatorContainer{
            padding: 5px;
            text-align: center;
            color: #E7ECF3;
            font-family: proxima-nova, sans-serif;
            font-weight: 300;

            .indicator{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: auto;

                &.red {
                    background-color: #FF0200;
                }

                &.yellow {
                    background-color: #FFFB00;
                }

                &.green {
                    background-color: #00FF00;
                }

            }

            h3{
                margin: 5px;
                font-size: 12px;
            }
        }


    }

    .legendText{
        font-size: 14px;
        padding: 20px 20px 0px 20px;
        color: #E7ECF3;
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
    }

    .legendTextDark{
        font-size: 14px;
        padding: 20px 20px 0px 20px;
        color: #000000;
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
    }
}

.etm {
    display: flex;
    flex-direction: row;
    border: 1px solid #06067a;
    border-radius: 4px;

    &.stacked {
        flex-direction: column;

        .scores {
            border-right: none;

            .results {
                flex: none;
            }
        }
    }

    .scores, .legend {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .scores {
        border-right: 1px solid #06067a;

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            height: 44px;
            border-bottom: 1px solid #06067a;

            h1 {
                font-size: 24px;
                margin: 0;
            }
        }

        .results {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            padding: 15px;

            header {
                align-self: stretch;
                background-color: #4e80bb;
                color: white;
                font-weight: bold;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                }
            }

            .etmResult {
                display: flex;
                flex-direction: row;
                align-self: stretch;
                padding: 6px;

                &:nth-child(odd) {
                    background-color: #cdd5e6;
                }

                &:nth-child(even) {
                    background-color: #e8ecf4;
                }

                span {
                    display: flex;
                    flex: 1;
                }
            }
        }
    }

    .legend {
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 44px;
            border-bottom: 1px solid #06067a;
            padding: 10px;
            background-color: #4e80bb;
            color: white;
            font-weight: bold;
        }

        .score {
            display: flex;
            flex-direction: row;
            align-items: center;

            .indicator {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                border: 1px solid black;
                margin: 0 10px;

                &.red {
                    background-color: #ff0202;
                }
                &.yellow {
                    background-color: #fffc00;
                }
                &.green {
                    background-color: #059610;
                }
            }
        }

        .legendText {
            padding: 15px;
        }
    }
}

.goalScores {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 12px 12px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  span {
    cursor: pointer;
    border-radius: 5px;
    background-color: goldenrod;
  }
}

.throbber {
    border: 5px solid #f3f3f3;
    animation: spin 1s linear infinite;
    border-top: 5px solid #0B497A;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
