.breadcrumb {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.breadcrumbs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    flex-direction: row;
    .breadcrumb{
        display: flex;
        padding: 5px;
        margin: 5px;
        flex:1;
        width:100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 12px;
    }

    .breadcrumb:link, .breadcrumb:visited{
        text-decoration: none;
        font-weight: 600;
        color:#09233E;
    }

    .breadcrumb:active{
        text-decoration: none;
        font-weight: 900;
        color:#09233E;
    }
}