.drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #04487B;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    overflow: hidden;

    .drawerHeader {
        display: flex;
        align-items: center;
        height: 115px;
        padding: 0 25px;
        background-color: #04487B;
    }

    .drawerPanel .title .drawerTitle{
        width:0px;
        margin:0px;
        overflow: hidden;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
}

.drawer.expand {
    .drawerPanel .drawerTitle{
        width:150px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
}

.drawerPanel.collapsed section.content {
    height: 0px;
    overflow: hidden;
}

.drawerPanel {

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 22px;
        cursor: pointer;

        .drawerIconBackground{
            background-color: #04487B;
            padding: 10px;
        }

        .drawerIcon{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff !important;
            height: 30px;
            width: 30px;
            border: 4px solid #6DB8EF;
            border-radius: 50%;
            margin:10px;
        }

        .drawerTitle{
            margin: 10px;
            font-family: proxima-nova, sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    }

    .content {
        overflow: hidden;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        .navItem {
            background-color: #e8ecf4;

            a, a:visited {
                padding: 10px 40px;
                width: 100%;
                color: black;
                font-weight: normal;

                &.active {
                    background-color: #7c93ac;
                    color: white;
                    font-weight: bold;
                }
            }

            &.single {
                a {
                    text-align: left;
                }
            }
        }
    }
}